<!DOCTYPE html>
<html>
  <head>
    <!-- 基本 -->
    <meta charset="utf-8">
    <meta name="description" content="みのポートフォリオサイト！">
    <meta name="keyword" content="ポートフォリオ, portfolio">
    <title><%= title %></title>
    <!-- アイコン -->
    <!-- <link rel="icon" type="shortcut icon" href="サイトアイコン画像のパス指定"> -->
    <!-- レスポンシブ対応 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <main>
      <nav class="index_nav">
        <div class="index_nav-bar">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="index_nav-wrapper">
          <% menuContents.forEach((content) => { %>
          <div class="index_nav-content"><%= content[0] %></div>
          <% })%>
          <div class="index_nav-content">一覧</div>
          <div class="index_nav-content">各種アカウント</div>
        </div>
      </nav>
    </main>
  </body>
</html>
