<!DOCTYPE html>
<html>
  <head>
    <!-- 基本 -->
    <meta charset="utf-8">
    <meta name="description" content="みのポートフォリオサイト！">
    <meta name="keyword" content="ポートフォリオ, portfolio">
    <title><%= pageTitle %>&nbsp;|&nbsp;<%= title %></title>
    <!-- アイコン -->
    <!-- <link rel="icon" type="shortcut icon" href="サイトアイコン画像のパス指定"> -->
    <!-- レスポンシブ対応 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <header>
      <nav></nav>
    </header>
    <main>
      <h1><%= pageTitle %></h1>
      <% var par = ejsfile; %>
      <%- include(par) %>
    </main>
  </body>
</html>