<!DOCTYPE html>
<html>
  <head>
    <!-- 基本 -->
    <meta charset="utf-8">
    <meta name="description" content="みのポートフォリオサイト！">
    <meta name="keyword" content="ポートフォリオ, portfolio">
    <title><%= title %></title>
    <!-- アイコン -->
    <!-- <link rel="icon" type="shortcut icon" href="サイトアイコン画像のパス指定"> -->
    <!-- レスポンシブ対応 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <!-- <% var par = ejsfile; %>
    <%- include(par) %> -->
  </body>
</html>